
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @user do |f|%>
  <div class="form-group">
    <label for="exampleInputName">Name</label>    
    <%= f.text_field :name, class: "form-control", placeholder: "Enter Your Name "%>
  
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Website</label>    
    <%= f.text_field :website_url,class: "form-control", placeholder: "Website Url"%>
  </div>
  <%= f.submit :Submit, class: 'btn btn-primary'%>
<%end%>

