
<div class="row">
<div class="col-lg-12 col-sm-6 col-md-6">
  <div class="card">
    <div class="card-body"><h2>Member Profile</h2><hr/>
      <ul class="list-group">
        <li class="list-group-item"><h5>Name:</h5> <%= @user.name%></li>
        <li class="list-group-item"><h5>Website:</h5> <%=link_to @user.website_url, @user.short%></li>
        <li class="list-group-item"><h5>Headings:</h5> <%= simple_format(@user.headings)%></li>
       
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-12 col-sm-6 col-md-6">
  <div class="card">
    <div class="card-body"><h2>Friends</h2><hr/>
      <ul class="list-group">
        <%@user.friends.each do |friend|%>
            <li class="list-group-item">Name: <%= link_to friend.name,  user_profile_path(friend)%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-12 col-sm-6 col-md-6">
  <div class="card">
    <div class="card-body"><h5>Find Experts</h5><hr/>
      <%= form_tag user_search_expert_path(@user),method: :get,remort: true do%>
        <%= text_field_tag :topic,'',placeholder: "Find Topic"%>
        <%= submit_tag :Search%>
      <%end%>
    </div>
  </div>
</div>
</div>
  
